<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yu.wangy.mydemoentry" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.read_external_storage" />
    <uses-permission android:name="android.permission.write_external_storage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DialogTest"
            android:label="@string/title_activity_dialog_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.yu.wangy.mydemoentry.DEMO_CODE" />
            </intent-filter>
        </activity>

        <provider
            android:name=".cp.ContactProvider"
            android:authorities="com.yu.wangy.provider.ContactProvider" />

        <activity
            android:name=".cp.CPTestActivity"
            android:label="@string/title_activity_cp_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.yu.wangy.mydemoentry.DEMO_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.IntentTest"
            android:label="@string/title_activity_intent_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.yu.wangy.mydemoentry.DEMO_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.UtilsTest"
            android:label="@string/title_activity_utils_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.yu.wangy.mydemoentry.DEMO_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
